.profile{
    margin-left: 350px;
    margin-bottom: 20px;
    font-family: 'Lato-Regular';
    font-style:italic;
    font-weight:bold;
}
.profile-avatar {
    float:left; 
    margin-left: 7px;
    margin-right: 10px;
}
.profile-user{
    margin-top: 20px;
    font-family: 'Lato-Regular';
    font-style: italic;
    font-size: 24px;
}
.edit-pro{
    margin-top: 62px;
}
.edit-pro a{
    font-size:1.3em;
    font-family: 'Lato-Regular';
    font-style: italic;
    color:#a7a49c;
}
h5.pr{
    float:left;
    font-size:1.5em;
    font-style:italic;
    margin-top: 0.5em;
}
p.wel{
    float:left;
    font-size:1.3em;
    font-style:italic;
    margin-top: 0.5em; 
}
p.wel a{
	text-decoration:none;
	color:#a7a49c;
}
p.wel a:hover{
	color: #f95a32;
}
h2.account-in{
	color:#747272;
	font-size:1.8em;
	padding:0 0em 2em;
}
h2.account-in:after{ 
	content: "";
	background: url(../images/line.png)0px 0px;
	width: 92%;
	height: 10px;
	display: inline-block;
	vertical-align: middle;
}
h4.account-in{
	color:#747272;
	font-size:1.3em;
	padding:0 0em 2em;
}
h4.account-in:after{ 
	content: "";
	background: url(../images/line.png)0px 0px;
	width: 92%;
	height: 10px;
	display: inline-block;
	vertical-align: middle;
}
div.field{
    padding-bottom: 5px;
}
div.field span {
    display: block;
    float: left;
    font-size: 20px;
    width: 280px;
    height: 30px;
}
.account div{
	padding:1em 0;
}
.account input[type="text"],.account textarea,.account input[type="password"],.account input[type="email"]{
	padding:0.6em;
	width:50%;
	background:none;
	border: 1px solid #D1D1D1;
	border-radius:10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	outline:none;
	color:#464646;
	font-size:1em;	
}

span.price-block{
    text-decoration: none;
    color: #fff;
    background: #FFDAB9;
    padding: 0.4em 0.8em;
    font-size: 0.8em;
    margin-top: 0.7em;
    display: inline-block;
}
.quantity{
    margin-top: 25px;
}
.desc-text p{
    background-color: #fff;
}

.product-main-cat {
    padding: 1em 0px 2.7em 0px;
    border:1px solid #ECEAEA;
    height: 500px;
}
.pag{
    margin-left: auto;
    margin-right: auto;
    width: 300px
}
.filter{
    float: right;
}
.filter-sort{
    margin-bottom: 25px;
    margin-top: 15px;
}
.filter-sort a{
    margin-left: 20px;
    font-size: 16px;
    text-decoration: none;
}
.filter-b a{
    font-size: 16px;
    text-decoration: none;
}
.filter-price input{
    padding:0.4em;
    width:25%;
    background:none;
    border: 1px solid #D1D1D1;
    border-radius:8px;
        -webkit-border-radius: 8px;
        -o-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
    outline:none;
    color:#464646;
    font-size:1em;
    margin-top: 20px;
    margin-left: 10px;   
}
.filter-price span{
    margin-left: 10px;
    font-size: 1.5em;
}
.filter-price button{
    display: inline-block;
    padding: 4px 12px;
    margin-left: 10px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
